html {
	background-color: white;
	background:url(../img/background.png) no-repeat center center fixed;
	background-size:cover;
	top:0;
	left:0;
	height: 100%;
	width:100%;
	color: black;
}

body {
	font-family: "Roboto", Helvetica, arial, sans-serif;
	margin: 10px;
}

.container {
	top: 10%;
	left: 100px;
	width: 50%;
	position: absolute;
}

.phoney {
	left:60%;
	top: 50px;
	position: absolute;
	padding-bottom: 60px;
}


h1 {
	padding: 10px;
	font-weight: 400;
}

h2 {
	size: 42px;
	padding: 10px;
	line-height: 42px;
	font-weight: 400;
}

p {
	size: 21px;
	padding: 10px;
	color: #5B5D5C;
	line-height: 29px;
	font-weight: 400;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #cefca6;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cefca6;
	box-shadow:inset 0px 1px 0px 0px #cefca6;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00c43e), color-stop(1, #00c43e) );
	background:-moz-linear-gradient( center top, #00c43e 5%, #00c43e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c43e', endColorstr='#00c43e');
	background-color:#00c43e;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #268a16;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:21px;
	font-weight:bold;
	padding:18px 43px;
	text-decoration:none;
	text-shadow:1px 1px 0px #818f74;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #078509), color-stop(1, #079609) );
	background:-moz-linear-gradient( center top, #078509 5%, #079609 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c43e', endColorstr='#00c43e');
	background-color:#00c43e;
}.button:active {
	position:relative;
	top:1px;
}



